:root {
  --skyblue: #25a9e3;
  --orange: #e95f13;
  --lightOrange: #f99f65;
  --lightSkyBlue: #81d8fa;
  --white: #ffffff;
}
@media only screen and (max-width: 768px) {
  nav {
    display: block;
  }
  .logoImg {
    margin-left: 0.2rem;
  }
  .nav-leftdiv img {
    height: 1.7rem;
  }
  .nav-leftdiv h1 {
    font-size: 1.9rem;
  }
  .nav-leftdiv h1 span {
    font-size: 1.3rem;
  }
  .nav-rightdiv {
    display: none;
  }
  .mobNav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
  }
  .mobNav a {
    color: var(--white);
    font-family: "Nunito", sans-serif;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    background-color: var(--orange);
    border-radius: 50px;
  }
  .mobNavLinks {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
  .mobNavLinks span {
    text-align: center;
    width: 40%;
    padding: 0.2rem 0;
    background-color: rgb(41, 40, 40);
  }
  .mobNavLinks span:nth-child(1) {
    border-radius: 50% 0 0 0;
  }
  .mobNavLinks span:nth-child(3) {
    border-radius: 0 50% 0 0;
  }
  .mobNavLinks span:nth-child(2) {
    width: 20%;
    text-align: center;
    display: block;
    color: var(--orange);
    font-size: 2rem;
    padding: 0.4rem 0 0.2rem 0;
    border-radius: 50% 50% 0 0;
    background-color: rgb(41, 40, 40);
  }
  .mobNavLinks a {
    color: var(--orange);
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font: bold;
    font-weight: 900;
  }
}
