* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Font Used  */
@font-face {
  font-family: logoFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovaexcn-medium.otf);
}
@font-face {
  font-family: buttonFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovaexcn-regular.otf);
}
@font-face {
  font-family: textFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovacond-regular.otf);
}
/* Navbar Code */
nav {
  display: flex;
  justify-content: space-between;
}

/* Left Logo Part */
.nav-leftdiv {
  display: flex;
}
.logoImg {
  display: flex;
  align-items: center;
}
.logoImg img {
  height: 4rem;
  aspect-ratio: 1/1;
}
.logoText {
  display: flex;
  align-items: center;
}
.logoText h1 {
  font-family: logoFont;
  color: #25a9e3;
  font-size: 3.5rem;
}
.logoText h1 span {
  font-size: 2.4rem;
}
/* Right Bottons Part */
.nav-rightdiv {
  display: flex;
  gap: 4rem;
}
.nav-rightdiv a {
  color: #e95f13;
  font-family: buttonFont;
  font-size: 1.5rem;
  font-weight: bold;
}
