* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Root Variables */
:root {
  --skyblue: #25a9e3;
  --orange: #e95f13;
  --lightOrange: #f99f65;
  --lightSkyBlue: #81d8fa;
  --white: #ffffff;
}
/* Font Used  */
@font-face {
  font-family: logoFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovaexcn-medium.otf);
}
@font-face {
  font-family: buttonFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovaexcn-regular.otf);
}
@font-face {
  font-family: textFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovacond-regular.otf);
}
/* Navbar Code */
nav {
  display: flex;
  justify-content: space-around;
}

/* Left Logo Part */
.nav-leftdiv {
  display: flex;
}
.logoImg {
  display: flex;
  align-items: center;
}
.logoImg img {
  height: 3rem;
  aspect-ratio: 1/1;
}
.logoText {
  display: flex;
  align-items: center;
}
.logoText h1 {
  font-family: logoFont;
  color: var(--skyblue);
  font-size: 3rem;
}
.logoText h1 span {
  font-size: 2rem;
}
/* Right Bottons Part */
.nav-rightdiv {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-rightdiv a {
  color: var(--orange);
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.nav-rightdiv a:nth-child(5) {
  color: var(--white);
  background-color: var(--orange);
  padding: 0.3rem 1rem;
  border-radius: 50px;
}
