* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Hiding Side scrollbar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Root Variables */
:root {
  --skyblue: #25a9e3;
  --orange: #e95f13;
  --lightOrange: #f99f65;
  --lightSkyBlue: #81d8fa;
  --white: #ffffff;
}
/* Font Used  */
@font-face {
  font-family: logoFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovaexcn-medium.otf);
}
@font-face {
  font-family: buttonFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovaexcn-regular.otf);
}
@font-face {
  font-family: textFont;
  src: url(Resources/font/Fontspring-DEMO-proximanovacond-regular.otf);
}
/* Navbar Code */
nav {
  display: flex;
  justify-content: space-around;
  height: 5rem;
}

/* Left Logo Part */
.nav-leftdiv {
  display: flex;
}
.logoImg {
  display: flex;
  align-items: center;
}
.logoImg img {
  height: 3rem;
  aspect-ratio: 1/1;
}
.logoText {
  display: flex;
  align-items: center;
}
.logoText h1 {
  font-family: logoFont;
  color: var(--skyblue);
  font-size: 3rem;
}
.logoText h1 span {
  font-size: 2rem;
}
.mobNav {
  display: none;
}
.mobNavLinks {
  display: none;
}
/* Right Bottons Part */
.nav-rightdiv {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-rightdiv a {
  color: var(--orange);
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.nav-rightdiv a:nth-child(5) {
  color: var(--white);
  background-color: var(--orange);
  padding: 0.5rem 1rem;
  border-radius: 50px;
}
/* Main section Code */
/* Landing Page code */
.landing {
  overflow: hidden;
  height: 90vh;
  background-color: var(--lightOrange);
  font-family: textFont;
  color: var(--white);
}
.OuterDiv {
  display: flex;
  justify-content: space-between;
  background-image: url("./Resources/Hexagon-back.svg");
}
.leftside {
  width: 30%;
  padding: 3rem 10rem 0 10rem;
}
.leftside h1 {
  font-size: 3.3rem;
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}
.leftside h4 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.leftside p {
  font-size: 1.1rem;
  margin-bottom: 5rem;
  text-align: justify;
}
.leftside button {
  border: none;
  padding: 0.8rem 1.5rem;
  color: var(--orange);
  font-family: textFont;
  border-radius: 8px;
  font-size: 1.1rem;
}
.rightside img {
  position: relative;
  top: 4rem;
  right: 4rem;
  height: 40rem;
}
/* Test */
.btn-38,
.btn-38 *,
.btn-38 :after,
.btn-38 :before,
.btn-38:after,
.btn-38:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-38 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-38:disabled {
  cursor: default;
}
.btn-38:-moz-focusring {
  outline: auto;
}
.btn-38 svg {
  display: block;
  vertical-align: middle;
}
.btn-38 [hidden] {
  display: none;
}
.btn-38 {
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 1.1rem 4rem;
  position: relative;
}
.btn-38 .new,
.btn-38 .old span {
  font-weight: 900;
  transition: transform 0.2s;
}
.btn-38 .new {
  display: block;
  transform: scale(0);
}
.btn-38:hover .new {
  transform: scale(1);
}
.btn-38 .old,
.btn-38 .old span {
  inset: 0;
  position: absolute;
}
.btn-38 .old span {
  background: #fff;
  color: #000;
  display: block;
  display: grid;
  place-items: center;
}
.btn-38 .old span:first-child {
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}
.btn-38 .old span:nth-child(2) {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.btn-38:hover .old span:first-child {
  transform: translateX(-100%);
}
.btn-38:hover .old span:nth-child(2) {
  transform: translateX(100%);
}
